<h1><%= @event.title %></h1>


<div class="panel-container col-md-6 col-md-offset-3">
  <h3 class="event-show-title"><%= @event.title %></h1>
  <p class="event-show-description"><%= @event.description %></p>
  <p class="event-show-creator">Organized by: <%= link_to @event.creator.name, user_path(@event.creator) %></p>
  <%= render 'attendees' %>
  <% if @event.date.future? && logged_in? %>
    <%= render 'attend_form' %>
  <% end %>
</div>